name: NVIDIA PyTorch/CUDA Job
on:
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Unique identifier for this run'
        required: true
        type: string
      payload:
        description: 'Content of the user submission, as json string'
        required: true
        type: string
      requirements:
        description: 'Contents for a requirements.txt file'
        required: false
        type: string

run-name: 'NVIDIA Job - ${{ github.event.inputs.run_id }}'

jobs:
  run:
    runs-on: [nvidia-docker-b200-8-x86-64]
    timeout-minutes: 10
    container:
      image: nvidia/cuda:12.4.0-devel-ubuntu22.04
    steps:
    - uses: actions/checkout@v3

    - name: Create input files
      shell: bash
      run: |
        # Extract the payload content without printing it
        apt-get update && apt-get install -y jq
        PAYLOAD=$(jq -r '.inputs.payload' $GITHUB_EVENT_PATH)

        # Apply mask to the extracted content
        echo "::add-mask::$PAYLOAD"

        # Now write to file (won't be logged since it's masked)
        echo "$PAYLOAD" > payload.json

    - name: Run script
      shell: bash
      run: |
        python src/runners/github-runner.py

    - name: Upload training artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: run-result
        path: result.json

    - name: Upload profiling artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: profile-data
        path: profile_data/*
        retention-days: 1
    env:
      CUDA_VISIBLE_DEVICES: 0
